# California School Board Project

In [1]:
import pandas as pd

In [2]:
file1 = pd.read_excel(r"D:\BusyQA Assignments\Projects\California School\Cleaned Datasets\Cleaned_Suspension.xlsx") 
file2 = pd.read_excel(r"D:\BusyQA Assignments\Projects\California School\Cleaned Datasets\Cleaned_Expulsion.xlsx")

In [3]:
file1

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,...,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),Suspension Count Violent Incident (No Injury),Suspension Count Weapons Possession,Suspension Count Illicit Drug-Related,Suspension Count Defiance-Only,Suspension Count Other Reasons
0,2016-17,S,19,64733,122382,Los Angeles,Los Angeles Unified,Engineering and Technology Academy at Esteban ...,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
1,2016-17,S,19,64733,6016448,Los Angeles,Los Angeles Unified,Charnock Road Elementary,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
2,2016-17,S,19,64733,133868,Los Angeles,Los Angeles Unified,Rise Kohyang High,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
3,2016-17,S,19,64733,6019632,Los Angeles,Los Angeles Unified,Utah Street Elementary,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
4,2016-17,S,19,64733,6016935,Los Angeles,Los Angeles Unified,Encino Charter Elementary,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244495,2016-17,D,54,71902,0,Tulare,Earlimart Elementary,District Office,All,RD,...,1,1,0,4.2,0,0,0,1,0,0
244496,2016-17,D,54,71969,0,Tulare,Kings River Union Elementary,District Office,All,RW,...,1,1,0,2.7,0,0,0,1,0,0
244497,2016-17,D,54,76794,0,Tulare,Woodlake Unified,District Office,All,SM,...,1,1,0,1.5,0,0,0,1,0,0
244498,2016-17,D,56,73759,0,Ventura,Conejo Valley Unified,District Office,All,RP,...,1,1,0,2.0,0,0,0,1,0,0
244499,2016-17,D,57,72710,0,Yolo,Woodland Joint Unified,District Office,All,RF,...,1,1,0,1.5,0,0,0,1,0,0

In [4]:
file2

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,...,Total Expulsions,Unduplicated Count of Students Expelled (Total),Unduplicated Count of Students Expelled (Defiance-Only),Expulsion Rate (Total),Expulsion Count Violent Incident (Injury),Expulsion Count Violent Incident (No Injury),Expulsion Count Weapons Possession,Expulsion Count Illicit Drug-Related,Expulsion Count Defiance-Only,Expulsion Count Other Reasons
0,2016-17,D,19,10199,0,Los Angeles,Los Angeles County Office of Education,District Office,All,RA,...,0,0,0,0.0,0,0,0,0,0,0
1,2016-17,D,19,64212,0,Los Angeles,ABC Unified,District Office,All,RA,...,0,0,0,0.0,0,0,0,0,0,0
2,2016-17,D,19,64246,0,Los Angeles,Antelope Valley Union High,District Office,All,RA,...,0,0,0,0.0,0,0,0,0,0,0
3,2016-17,D,19,64261,0,Los Angeles,Arcadia Unified,District Office,All,RA,...,0,0,0,0.0,0,0,0,0,0,0
4,2016-17,D,19,64279,0,Los Angeles,Azusa Unified,District Office,All,RA,...,0,0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244495,2016-17,D,56,72454,0,Ventura,Fillmore Unified,District Office,No,SH,...,1,1,0,0.9,0,1,0,0,0,0
244496,2016-17,D,58,72769,0,Yuba,Wheatland Union High,District Office,All,RH,...,1,1,0,0.4,0,1,0,0,0,0
244497,2016-17,D,58,72769,0,Yuba,Wheatland Union High,District Office,No,RH,...,1,1,0,0.4,0,1,0,0,0,0
244498,2016-17,D,58,72769,0,Yuba,Wheatland Union High,District Office,No,SD,...,1,1,0,1.2,0,1,0,0,0,0
244499,2016-17,D,58,72769,0,Yuba,Wheatland Union High,District Office,All,SD,...,1,1,0,1.2,0,1,0,0,0,0

In [5]:
file1.columns

Index(['AcademicYear', 'AggregateLevel', 'CountyCode', 'DistrictCode',
       'SchoolCode', 'CountyName', 'DistrictName', 'SchoolName', 'CharterYN',
       'ReportingCategory', 'Cumulative Enrollment', 'Total Suspensions',
       'Unduplicated Count of Students Suspended (Total)',
       'Unduplicated Count of Students Suspended (Defiance-Only)',
       'Suspension Rate (Total)', 'Suspension Count Violent Incident (Injury)',
       'Suspension Count Violent Incident (No Injury)',
       'Suspension Count Weapons Possession',
       'Suspension Count Illicit Drug-Related',
       'Suspension Count Defiance-Only', 'Suspension Count Other Reasons'],
      dtype='object')

In [6]:
file2.columns

Index(['AcademicYear', 'AggregateLevel', 'CountyCode', 'DistrictCode',
       'SchoolCode', 'CountyName', 'DistrictName', 'SchoolName', 'CharterYN',
       'ReportingCategory', 'Cumulative Enrollment', 'Total Expulsions',
       'Unduplicated Count of Students Expelled (Total)',
       'Unduplicated Count of Students Expelled (Defiance-Only)',
       'Expulsion Rate (Total)', 'Expulsion Count Violent Incident (Injury)',
       'Expulsion Count Violent Incident (No Injury)',
       'Expulsion Count Weapons Possession',
       'Expulsion Count Illicit Drug-Related', 'Expulsion Count Defiance-Only',
       'Expulsion Count Other Reasons'],
      dtype='object')

In [7]:
file12 = pd.merge(file1, file2,  how='inner', left_on=['DistrictCode', 'SchoolCode','CharterYN', 'ReportingCategory'], right_on = ['DistrictCode', 'SchoolCode','CharterYN', 'ReportingCategory'])
file12

,AcademicYear_x,AggregateLevel_x,CountyCode_x,DistrictCode,SchoolCode,CountyName_x,DistrictName_x,SchoolName_x,CharterYN,ReportingCategory,...,Total Expulsions,Unduplicated Count of Students Expelled (Total),Unduplicated Count of Students Expelled (Defiance-Only),Expulsion Rate (Total),Expulsion Count Violent Incident (Injury),Expulsion Count Violent Incident (No Injury),Expulsion Count Weapons Possession,Expulsion Count Illicit Drug-Related,Expulsion Count Defiance-Only,Expulsion Count Other Reasons
0,2016-17,S,19,64733,122382,Los Angeles,Los Angeles Unified,Engineering and Technology Academy at Esteban ...,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
1,2016-17,S,19,64733,6016448,Los Angeles,Los Angeles Unified,Charnock Road Elementary,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
2,2016-17,S,19,64733,133868,Los Angeles,Los Angeles Unified,Rise Kohyang High,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
3,2016-17,S,19,64733,6019632,Los Angeles,Los Angeles Unified,Utah Street Elementary,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
4,2016-17,S,19,64733,6016935,Los Angeles,Los Angeles Unified,Encino Charter Elementary,All,GF,...,0,0,0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245471,2016-17,D,54,71902,0,Tulare,Earlimart Elementary,District Office,All,RD,...,1,1,0,4.2,1,0,0,0,0,0
245472,2016-17,D,54,71969,0,Tulare,Kings River Union Elementary,District Office,All,RW,...,0,0,0,0.0,0,0,0,0,0,0
245473,2016-17,D,54,76794,0,Tulare,Woodlake Unified,District Office,All,SM,...,0,0,0,0.0,0,0,0,0,0,0
245474,2016-17,D,56,73759,0,Ventura,Conejo Valley Unified,District Office,All,RP,...,0,0,0,0.0,0,0,0,0,0,0
245475,2016-17,D,57,72710,0,Yolo,Woodland Joint Unified,District Office,All,RF,...,0,0,0,0.0,0,0,0,0,0,0

In [8]:
file3 = pd.read_excel(r"D:\BusyQA Assignments\Projects\California School\Cleaned Datasets\Cleaned_Attendance.xlsx")
file4 = pd.read_excel(r"D:\BusyQA Assignments\Projects\California School\Cleaned Datasets\Cleaned_Free Meals.xlsx")
file5 = pd.read_excel(r"D:\BusyQA Assignments\Projects\California School\Cleaned Datasets\Cleaned_Tests.xlsx")

In [9]:
file3

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,2016-17,D,19,64345,0,Los Angeles,Castaic Union,District Office,All,RB,56,55,0,0.0
1,2016-17,D,19,64394,0,Los Angeles,Claremont Unified,District Office,All,RI,15,14,0,0.0
2,2016-17,D,19,64485,0,Los Angeles,East Whittier City Elementary,District Office,All,RA,140,134,0,0.0
3,2016-17,D,19,64485,0,Los Angeles,East Whittier City Elementary,District Office,All,RI,11,11,0,0.0
4,2016-17,D,19,64501,0,Los Angeles,El Monte City,District Office,All,RF,64,62,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180064,2016-17,S,19,64733,102137,Los Angeles,Los Angeles Unified,Aggeler Community Day,All,SS,319,189,1,0.5
180065,2016-17,S,19,64733,115782,Los Angeles,Los Angeles Unified,Celerity Troika Charter,All,SS,353,348,1,0.3
180066,2016-17,S,19,64733,133736,Los Angeles,Los Angeles Unified,"Millikan Science, Technology, Engineering and ...",All,SS,40,40,1,2.5
180067,2016-17,S,19,64733,6020044,Los Angeles,Los Angeles Unified,Woodland Hills Elementary Charter For Enriched...,All,SS,96,95,1,1.1
180068,2016-17,S,19,64733,115782,Los Angeles,Los Angeles Unified,Celerity Troika Charter,All,TA,533,517,1,0.2

In [10]:
file12.columns

Index(['AcademicYear_x', 'AggregateLevel_x', 'CountyCode_x', 'DistrictCode',
       'SchoolCode', 'CountyName_x', 'DistrictName_x', 'SchoolName_x',
       'CharterYN', 'ReportingCategory', 'Cumulative Enrollment_x',
       'Total Suspensions', 'Unduplicated Count of Students Suspended (Total)',
       'Unduplicated Count of Students Suspended (Defiance-Only)',
       'Suspension Rate (Total)', 'Suspension Count Violent Incident (Injury)',
       'Suspension Count Violent Incident (No Injury)',
       'Suspension Count Weapons Possession',
       'Suspension Count Illicit Drug-Related',
       'Suspension Count Defiance-Only', 'Suspension Count Other Reasons',
       'AcademicYear_y', 'AggregateLevel_y', 'CountyCode_y', 'CountyName_y',
       'DistrictName_y', 'SchoolName_y', 'Cumulative Enrollment_y',
       'Total Expulsions', 'Unduplicated Count of Students Expelled (Total)',
       'Unduplicated Count of Students Expelled (Defiance-Only)',
       'Expulsion Rate (Total)', 'Expulsion Count Violent Incident (Injury)',
       'Expulsion Count Violent Incident (No Injury)',
       'Expulsion Count Weapons Possession',
       'Expulsion Count Illicit Drug-Related', 'Expulsion Count Defiance-Only',
       'Expulsion Count Other Reasons'],
      dtype='object')

In [11]:
file3.columns

Index(['AcademicYear', 'AggregateLevel', 'CountyCode', 'DistrictCode',
       'SchoolCode', 'CountyName', 'DistrictName', 'SchoolName', 'CharterYN',
       'ReportingCategory', 'CumulativeEnrollment',
       'ChronicAbsenteeismEligibleCumulativeEnrollment',
       'ChronicAbsenteeismCount', 'ChronicAbsenteeismRate'],
      dtype='object')

In [12]:
file123 = pd.merge(file12, file3,  how='inner', left_on=['DistrictCode', 'SchoolCode','CharterYN', 'ReportingCategory'], right_on = ['DistrictCode', 'SchoolCode','CharterYN', 'ReportingCategory'])
file123

,AcademicYear_x,AggregateLevel_x,CountyCode_x,DistrictCode,SchoolCode,CountyName_x,DistrictName_x,SchoolName_x,CharterYN,ReportingCategory,...,AcademicYear,AggregateLevel,CountyCode,CountyName,DistrictName,SchoolName,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,2016-17,S,19,64733,122382,Los Angeles,Los Angeles Unified,Engineering and Technology Academy at Esteban ...,All,GF,...,2016-17,S,19,Los Angeles,Los Angeles Unified,Engineering and Technology Academy at Esteban ...,100,96,18,18.8
1,2016-17,S,19,64733,6016448,Los Angeles,Los Angeles Unified,Charnock Road Elementary,All,GF,...,2016-17,S,19,Los Angeles,Los Angeles Unified,Charnock Road Elementary,185,177,36,20.3
2,2016-17,S,19,64733,133868,Los Angeles,Los Angeles Unified,Rise Kohyang High,All,GF,...,2016-17,S,19,Los Angeles,Los Angeles Unified,Rise Kohyang High,41,39,9,23.1
3,2016-17,S,19,64733,6019632,Los Angeles,Los Angeles Unified,Utah Street Elementary,All,GF,...,2016-17,S,19,Los Angeles,Los Angeles Unified,Utah Street Elementary,259,251,29,11.6
4,2016-17,S,19,64733,6016935,Los Angeles,Los Angeles Unified,Encino Charter Elementary,All,GF,...,2016-17,S,19,Los Angeles,Los Angeles Unified,Encino Charter Elementary,293,290,17,5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137711,2016-17,D,54,71902,0,Tulare,Earlimart Elementary,District Office,All,RD,...,2016-17,D,54,Tulare,Earlimart Elementary,District Office,24,24,1,4.2
137712,2016-17,D,54,71969,0,Tulare,Kings River Union Elementary,District Office,All,RW,...,2016-17,D,54,Tulare,Kings River Union Elementary,District Office,37,34,1,2.9
137713,2016-17,D,54,76794,0,Tulare,Woodlake Unified,District Office,All,SM,...,2016-17,D,54,Tulare,Woodlake Unified,District Office,66,63,4,6.3
137714,2016-17,D,56,73759,0,Ventura,Conejo Valley Unified,District Office,All,RP,...,2016-17,D,56,Ventura,Conejo Valley Unified,District Office,51,49,6,12.2
137715,2016-17,D,57,72710,0,Yolo,Woodland Joint Unified,District Office,All,RF,...,2016-17,D,57,Yolo,Woodland Joint Unified,District Office,65,65,5,7.7

In [13]:
file4

,Academic Year,County Code,District Code,School Code,County Name,District Name,School Name,District Type,School Type,Educational Option Type,...,Free Meal Count (K-12),Percent (%) Eligible Free (K-12),FRPM Count (K-12),Percent (%) Eligible FRPM (K-12),Enrollment (Ages 5-17),Free Meal Count (Ages 5-17),Percent (%) Eligible Free (Ages 5-17),FRPM Count (Ages 5-17),Percent (%) Eligible FRPM (Ages 5-17),2016-17 CALPADS Fall 1 Certification Status
0,2016-2017,1,10017,123968,Alameda,Alameda County Office of Education,Community School for Creative Education,County Office of Education (COE),Elementary Schools (Public),Traditional,...,110,0.529,134,0.644,199,104,0.523,126,0.633,Y
1,2016-2017,1,10017,6002000,Alameda,Alameda County Office of Education,Lazear Charter Academy,County Office of Education (COE),Elementary Schools (Public),Traditional,...,320,0.693,387,0.838,449,310,0.690,377,0.840,Y
2,2016-2017,1,61259,111476,Alameda,Oakland Unified,Achieve Academy,Unified School District,Elementary Schools (Public),Traditional,...,589,0.819,639,0.889,700,573,0.819,621,0.887,Y
3,2016-2017,1,61259,115592,Alameda,Oakland Unified,Learning Without Limits,Unified School District,Elementary Schools (Public),Traditional,...,277,0.658,323,0.767,421,277,0.658,323,0.767,Y
4,2016-2017,1,61259,129403,Alameda,Oakland Unified,Epic Charter,Unified School District,Intermediate/Middle Schools (Public),Traditional,...,368,0.850,414,0.956,433,368,0.850,414,0.956,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,2016-2017,44,69799,6049829,Santa Cruz,Pajaro Valley Unified,Alianza Charter,Unified School District,Elementary Schools (Public),Traditional,...,209,0.309,209,0.309,676,209,0.309,209,0.309,Y
99,2016-2017,51,71464,5130125,Sutter,Yuba City Unified,Yuba City Charter,Unified School District,K-12 Schools (Public),Traditional,...,174,0.722,199,0.826,234,167,0.714,192,0.821,Y
100,2016-2017,54,72256,5430269,Tulare,Visalia Unified,Charter Alternatives Academy,Unified School District,High Schools (Public),Traditional,...,79,0.888,79,0.888,89,79,0.888,79,0.888,Y
101,2016-2017,54,75523,116590,Tulare,Porterville Unified,Harmony Magnet Academy,Unified School District,High Schools (Public),Traditional,...,354,0.636,357,0.641,548,352,0.642,355,0.648,Y
102,2016-2017,58,10587,5830112,Yuba,Yuba County Office of Education,Yuba County Career Preparatory Charter,County Office of Education (COE),K-12 Schools (Public),Traditional,...,221,0.810,248,0.908,226,183,0.810,205,0.907,Y

In [14]:
file4.columns

Index(['Academic Year', 'County Code', 'District Code', 'School Code',
       'County Name', 'District Name', 'School Name', 'District Type',
       'School Type', 'Educational Option Type', 'NSLP Provision Status',
       'Charter School (Y/N)', 'Charter School Number', 'Charter Funding Type',
       'IRC', 'Low Grade', 'High Grade', 'Enrollment (K-12)',
       'Free Meal Count (K-12)', 'Percent (%) Eligible Free (K-12)',
       'FRPM Count (K-12)', 'Percent (%) Eligible FRPM (K-12)',
       'Enrollment (Ages 5-17)', 'Free Meal Count (Ages 5-17)',
       'Percent (%) Eligible Free (Ages 5-17)', 'FRPM Count (Ages 5-17)',
       'Percent (%) Eligible FRPM (Ages 5-17)',
       '2016-17 CALPADS Fall 1 Certification Status'],
      dtype='object')

In [15]:
file1234 = pd.merge(file123, file4,  how='inner', left_on=['DistrictCode','SchoolCode'], right_on = ['District Code', 'School Code'])
file1234

,AcademicYear_x,AggregateLevel_x,CountyCode_x,DistrictCode,SchoolCode,CountyName_x,DistrictName_x,SchoolName_x,CharterYN,ReportingCategory,...,Free Meal Count (K-12),Percent (%) Eligible Free (K-12),FRPM Count (K-12),Percent (%) Eligible FRPM (K-12),Enrollment (Ages 5-17),Free Meal Count (Ages 5-17),Percent (%) Eligible Free (Ages 5-17),FRPM Count (Ages 5-17),Percent (%) Eligible FRPM (Ages 5-17),2016-17 CALPADS Fall 1 Certification Status
0,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,GF,...,331,0.927,348,0.975,348,322,0.925,339,0.974,Y
1,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,SE,...,331,0.927,348,0.975,348,322,0.925,339,0.974,Y
2,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,SD,...,331,0.927,348,0.975,348,322,0.925,339,0.974,Y
3,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,GM,...,331,0.927,348,0.975,348,322,0.925,339,0.974,Y
4,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,RH,...,331,0.927,348,0.975,348,322,0.925,339,0.974,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,2016-17,S,37,68338,101345,San Diego,San Diego Unified,KIPP Adelante Preparatory Academy,All,TA,...,263,0.862,291,0.954,305,263,0.862,291,0.954,Y
946,2016-17,S,37,68338,101345,San Diego,San Diego Unified,KIPP Adelante Preparatory Academy,All,SE,...,263,0.862,291,0.954,305,263,0.862,291,0.954,Y
947,2016-17,S,37,68338,101345,San Diego,San Diego Unified,KIPP Adelante Preparatory Academy,All,SD,...,263,0.862,291,0.954,305,263,0.862,291,0.954,Y
948,2016-17,S,37,68338,101345,San Diego,San Diego Unified,KIPP Adelante Preparatory Academy,All,SH,...,263,0.862,291,0.954,305,263,0.862,291,0.954,Y
949,2016-17,S,37,68338,101345,San Diego,San Diego Unified,KIPP Adelante Preparatory Academy,All,GF,...,263,0.862,291,0.954,305,263,0.862,291,0.954,Y

In [16]:
file1234.columns

Index(['AcademicYear_x', 'AggregateLevel_x', 'CountyCode_x', 'DistrictCode',
       'SchoolCode', 'CountyName_x', 'DistrictName_x', 'SchoolName_x',
       'CharterYN', 'ReportingCategory', 'Cumulative Enrollment_x',
       'Total Suspensions', 'Unduplicated Count of Students Suspended (Total)',
       'Unduplicated Count of Students Suspended (Defiance-Only)',
       'Suspension Rate (Total)', 'Suspension Count Violent Incident (Injury)',
       'Suspension Count Violent Incident (No Injury)',
       'Suspension Count Weapons Possession',
       'Suspension Count Illicit Drug-Related',
       'Suspension Count Defiance-Only', 'Suspension Count Other Reasons',
       'AcademicYear_y', 'AggregateLevel_y', 'CountyCode_y', 'CountyName_y',
       'DistrictName_y', 'SchoolName_y', 'Cumulative Enrollment_y',
       'Total Expulsions', 'Unduplicated Count of Students Expelled (Total)',
       'Unduplicated Count of Students Expelled (Defiance-Only)',
       'Expulsion Rate (Total)', 'Expulsion Count Violent Incident (Injury)',
       'Expulsion Count Violent Incident (No Injury)',
       'Expulsion Count Weapons Possession',
       'Expulsion Count Illicit Drug-Related', 'Expulsion Count Defiance-Only',
       'Expulsion Count Other Reasons', 'AcademicYear', 'AggregateLevel',
       'CountyCode', 'CountyName', 'DistrictName', 'SchoolName',
       'CumulativeEnrollment',
       'ChronicAbsenteeismEligibleCumulativeEnrollment',
       'ChronicAbsenteeismCount', 'ChronicAbsenteeismRate', 'Academic Year',
       'County Code', 'District Code', 'School Code', 'County Name',
       'District Name', 'School Name', 'District Type', 'School Type',
       'Educational Option Type', 'NSLP Provision Status',
       'Charter School (Y/N)', 'Charter School Number', 'Charter Funding Type',
       'IRC', 'Low Grade', 'High Grade', 'Enrollment (K-12)',
       'Free Meal Count (K-12)', 'Percent (%) Eligible Free (K-12)',
       'FRPM Count (K-12)', 'Percent (%) Eligible FRPM (K-12)',
       'Enrollment (Ages 5-17)', 'Free Meal Count (Ages 5-17)',
       'Percent (%) Eligible Free (Ages 5-17)', 'FRPM Count (Ages 5-17)',
       'Percent (%) Eligible FRPM (Ages 5-17)',
       '2016-17 CALPADS Fall 1 Certification Status'],
      dtype='object')

In [17]:
file5

,CDSCode,AcademicYear,AggregateLevel,County Code,District Code,County Name,District Name,Test Type,Foster Reporting Category,Student Group Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
0,4100410000000,2016-17,District,4,10041,Butte,Butte County Office of Education,ELA,FN,RT,11,11,100.00,11,0.0,27.27,18.18,54.55
1,4100410000000,2016-17,District,4,10041,Butte,Butte County Office of Education,Math,FN,RT,11,11,100.00,11,0.0,9.09,18.18,72.73
2,4614240000000,2016-17,District,4,61424,Butte,Chico Unified,ELA,FY,G4,11,11,100.00,11,0.0,18.18,27.27,54.55
3,4614240000000,2016-17,District,4,61424,Butte,Chico Unified,ELA,FN,Mig,11,11,100.00,11,0.0,0.00,27.27,72.73
4,4614240000000,2016-17,District,4,61424,Butte,Chico Unified,Math,FY,G4,11,11,100.00,11,0.0,18.18,27.27,54.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32378,55105530000000,2016-17,District,55,10553,Tuolumne,Tuolumne County Superintendent of Schools,Math,FN,RW,17,12,70.59,12,0.0,0.00,0.00,100.00
32379,55105530000000,2016-17,District,55,10553,Tuolumne,Tuolumne County Superintendent of Schools,Math,FN,SD,20,14,70.00,14,0.0,0.00,0.00,100.00
32380,55105530000000,2016-17,District,55,10553,Tuolumne,Tuolumne County Superintendent of Schools,Math,FN,GM,19,14,73.68,14,0.0,0.00,0.00,100.00
32381,57105790000000,2016-17,District,57,10579,Yolo,Yolo County Office of Education,Math,FN,G11,56,16,28.57,14,0.0,0.00,0.00,100.00
32382,58105870000000,2016-17,District,58,10587,Yuba,Yuba County Office of Education,Math,FN,SD,28,23,82.14,22,0.0,0.00,0.00,100.00

In [18]:
file12345 = pd.merge(file1234, file5,  how='inner', left_on=['DistrictCode', 'ReportingCategory'], right_on = ['District Code', 'Student Group Reporting Category'])
file12345

C:\Users\reeba\AppData\Local\Temp\ipykernel_15976\2156430734.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'AggregateLevel_x', 'AcademicYear_x'} in the result is deprecated and will raise a MergeError in a future version.
  file12345 = pd.merge(file1234, file5,  how='inner', left_on=['DistrictCode', 'ReportingCategory'], right_on = ['District Code', 'Student Group Reporting Category'])

,AcademicYear_x,AggregateLevel_x,CountyCode_x,DistrictCode,SchoolCode,CountyName_x,DistrictName_x,SchoolName_x,CharterYN,ReportingCategory,...,Foster Reporting Category,Student Group Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
0,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,GF,...,FY,GF,1447,1333,92.12,1329,4.89,17.68,24.98,52.45
1,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,GF,...,FY,GF,1444,1324,91.69,1323,2.57,9.37,23.51,64.55
2,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,GF,...,FN,GF,130343,126720,97.22,126589,17.24,27.86,24.87,30.03
3,2016-17,S,19,64733,117937,Los Angeles,Los Angeles Unified,ICEF Vista Elementary Academy,All,GF,...,FN,GF,130332,127806,98.06,127736,12.08,17.99,27.98,41.94
4,2016-17,S,19,64733,122630,Los Angeles,Los Angeles Unified,Para Los Niños - Evelyn Thurman Gratts Primary,All,GF,...,FY,GF,1447,1333,92.12,1329,4.89,17.68,24.98,52.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,2016-17,S,19,64709,100602,Los Angeles,Lennox,"Lennox Mathematics, Science and Technology Aca...",All,GM,...,FN,GM,1879,1634,86.96,1633,9.49,19.96,29.03,41.52
2727,2016-17,S,19,64709,100602,Los Angeles,Lennox,"Lennox Mathematics, Science and Technology Aca...",All,SE,...,FN,SE,1261,1044,82.79,1044,2.49,7.47,22.13,67.91
2728,2016-17,S,19,64709,100602,Los Angeles,Lennox,"Lennox Mathematics, Science and Technology Aca...",All,SE,...,FN,SE,1260,1071,85.00,1071,2.05,11.20,27.26,59.48
2729,2016-17,S,19,64709,100602,Los Angeles,Lennox,"Lennox Mathematics, Science and Technology Aca...",All,GF,...,FN,GF,1807,1542,85.33,1542,11.74,26.07,31.00,31.19
2730,2016-17,S,19,64709,100602,Los Angeles,Lennox,"Lennox Mathematics, Science and Technology Aca...",All,GF,...,FN,GF,1809,1550,85.68,1550,8.32,20.26,32.97,38.45

In [21]:
file12345.to_excel('D:\BusyQA Assignments\Projects\California School\Cleaned Datasets\Analytical Dataset.xlsx')

## Thank you!